<div class="container" ng-style="css.container"
  ng-show="logged_in && play_mode"
  ngm-vmouseup="up()" ngm-vmousemove="enter($event)">

  <div class="stripe" ng-style="join(css.stripe,css.font_small)">
    <div class="left"   ng-style="css.one_third">&nbsp;{{ words }}</div>
    <div class="middle" ng-style="css.one_third">&nbsp;{{ score }}</div>
    <div class="right"  ng-style="css.one_third">{{ time | sec }}&nbsp;</div>
  </div>

  <div class="stripe" ng-style="join(css.font_normal,css.long_stripe)">
    <span ng-class="last_status">&nbsp;{{ word() }}&nbsp;</span>
  </div>

  <div class="row" ng-init="y = $index" ng-repeat="row in grid">
    <div class="tile" ng-style="css.tile"
      ng-init="x = $index" ng-repeat="col in row"
      ngm-vmousedown="down(x,y)"
      ng-class="status(x,y)">
      <span ng-style="css.shadow_score" class="shadow-score">{{ char_score(col) }}</span>
      <span ng-style="css.char" class="char">{{ col }}</span>
      <span ng-style="css.score" class="score">{{ char_score(col) }}</span>
      <span id="x">{{ x }}</span>
      <span id="y">{{ y }}</span>
    </div>
  </div>

  <div class="stripe" ng-style="join(css.long_dbl_stripe,css.font_small)">
    <div ng-repeat="p in scores">{{ p.name }}: {{ p.score }}</div>
  </div>

</div>
