// Aspect ratio div: http://stackoverflow.com/questions/2066088/use-css-and-maybe-javascript-to-make-an-element-be-square-or-maintain-a-speci

div.word
  text-align: center
  font:
    family: sans-serif
    size: 50px


div.row
  height: 25%
  display: block

div.selected
  border-width: 2px
  border-style: solid
  border-color: #e82

.tile
  width: 20%
  height: 20%
  margin: 2%
  display: inline-block
  text-align: center

  border-width: 2px
  border-style: solid
  border-color: #000

  -webkit-user-select: none // Chrome/Safari
  -moz-user-select: none // Firefox
  -ms-user-select: none // IE10+

  // Rules below not implemented in browsers yet
  -o-user-select: none
  user-select: none

span.x
  display: none

span.y
  display: none

span.char
  font:
    family: sans-serif
    size: 100px

span.score
  font:
    family: sans-serif
    size: 20px
  vertical-align: top

div.container, div.footer
  width: 100%
  background: #fff
  min-height: 100%
  padding: 5px
  margin:
    left: auto
    right: auto
