<!doctype html>
<html ng-app="russell">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="lib/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="lib/angular-mobile/compiled/jquery-mobile-angular-adapter-standalone-1.2.0.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>

    <link href='index.css' rel='stylesheet' type='text/css'>
    <title>
      Russells ordorm
    </title>
  </head>
  <body ng-controller="GridCtrl"
      ngm-vmouseup="up()"
      ng-mousedown="down()"
      ngm-vmousemove="enter($event)">

    <div class="container">

      <div id="top">
        <span ng-class="last_status">&nbsp;{{ word() }}&nbsp;</span>
      </div>

      <div id="top-space"></div>

      <div class="row" ng-init="y = $index" ng-repeat="row in grid">
        <div class="tile" ng-init="x = $index" ng-repeat="col in row"
          ng-controller="TileCtrl"
          ng-class="status(x,y)">
          <span class="shadow-score">{{ char_score(col) }}</span>
          <span class="char">{{ col }}</span>
          <span class="score">{{ char_score(col) }}</span>
          <span id="x">{{ x }}</span>
          <span id="y">{{ y }}</span>
        </div>
      </div>

      <div id="bottom-space"></div>

      <div id="bottom">
        <div class="oneThird" style="display:inline-block">{{ time }}&nbsp;</div>
        <div class="oneThird" style="display:inline-block; text-align:center;">&nbsp;{{ score }}</div>
        <div class="oneThird" style="display:inline-block; text-align:right;">&nbsp;{{ words }}</div>
      </div>

    </div>

  </body>
</html>
