div.word {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px; }

div.row {
  height: 150px;
  display: block; }

div.selected {
  border-width: 2px;
  border-style: solid;
  border-color: #ee8822; }

.tile {
  width: 110px;
  height: 110px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

span.char {
  font-family: sans-serif;
  font-size: 100px; }

span.score {
  font-family: sans-serif;
  font-size: 20px;
  vertical-align: top; }

div.container, div.footer {
  width: 650px;
  background: white;
  min-height: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }
