#top {
  text-align: center;
  font-family: sans-serif; }

#bottom {
  font-family: sans-serif; }

div.row {
  display: block; }

div.selected, span.selected {
  background: #ffbf00;
  transition: none; }

div.wrong, span.wrong {
  background: #ff7f66;
  transition: none; }

div.correct, span.correct {
  background: #99ff33;
  transition: none; }

.tile {
  background: white;
  transition-property: background;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: black;
  cursor: cell; }

span#x {
  display: none; }

span#y {
  display: none; }

span.char {
  font-family: sans-serif; }

span.score {
  font-family: sans-serif;
  vertical-align: top;
  float: right; }

span.shadow-score {
  font-family: sans-serif;
  opacity: 0;
  vertical-align: top;
  float: left; }

div.container, div.footer {
  background: white;
  margin-left: auto;
  margin-right: auto; }

body, .container {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
